{% extends 'main/layout.html' %}
{% load static%}

{% block title %}
<h1>Главная старница</h1> {% endblock %}

{% block content %}
<br>
<!DOCTYPE html>
<html>
<head>
<title>Food_Blog</title><meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<style>
    body {
        font-family: "Times New Roman", Georgia, Serif;}
    h1, h2, h3, h4, h5, h6 {
      font-family: "Playfair Display";
      letter-spacing: 5px;
    }








</style>
</head>
<body>




<header class="w3-display-container w3-content w3-wide" style="max-width:1000px;min-width:500px" id="home">
  <div id="demo" class="carousel slide" data-bs-ride="carousel">

  <!-- Indicators/dots -->
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#demo" data-bs-slide-to="0" class="active"></button>
    <button type="button" data-bs-target="#demo" data-bs-slide-to="1"></button>
    <button type="button" data-bs-target="#demo" data-bs-slide-to="2"></button>
  </div>


  <div class="carousel-inner">
    <div class="carousel-item active">
      <center>      <img src="https://avatars.mds.yandex.net/i?id=e7b9c2adb611185282163524e9ca80108730711e-4763414-images-thumbs&n=13" style="width:800px" >
      </center>
    </div>
    <div class="carousel-item">
      <center>      <img src="https://avatars.mds.yandex.net/i?id=d0b184de930374e030a2ae0e81266b7e795fa3dc-7732367-images-thumbs&n=13" style="width:800px" >
      </center>
    </div>
    <div class="carousel-item">
      <center>
              <img src="https://avatars.mds.yandex.net/i?id=f7a528103a9cb4c1ca49aae7ba483ac425a090d2-7458047-images-thumbs&n=13" style="width:800px" >

      </center>
    </div>
  </div>


  <button class="carousel-control-prev" type="button" data-bs-target="#demo" data-bs-slide="prev">
    <span class="carousel-control-prev-icon"></span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#demo" data-bs-slide="next">
    <span class="carousel-control-next-icon"></span>
  </button>
</div>

</header>

<!-- Page content -->
<div class="w3-content" style="max-width:1100px">

  <!-- About Section -->
  <div class="w3-row w3-padding-64" id="about">
    <div class="w3-col m6 w3-padding-large w3-hide-small">
     <img src="https://static.rfstat.com/gm-media/template/280/68975e46b5e2_1x.webp" class="w3-round w3-image w3-opacity-min"  width="600" height="750">
    </div>

    <div class="w3-col m6 w3-padding-large">
      <h1 class="w3-center">Меню</h1><br>
      <h5 class="w3-center">Все Рецепты</h5>
      <p class="w3-large">Ищите рецепты, выбирая категорию блюда, его подкатегорию, кухню или меню. А в дополнительных фильтрах можно искать по нужному (или ненужному) ингредиенту: просто начните писать его название и сайт подберет соответствующий.</p>
    </div>
  </div>

  <hr>
<center>
  <table>
  <tr>
    <td><img src="https://img1.russianfood.com/dycontent/images_upl/559/big_558596.jpg" style="width:250px; height:200px"></td>
    <td><img src="https://korfood.ru/upload/iblock/8a5/effuf1h8uakcyi1hxnxnisw4dluyo4m8/tokpokki_legendarnoe_koreyskoe_blyudo_teper_i_v_rossii.jpg" style="margin-left:15px; width:250px;  height:200px"></td>
    <td><img src="https://img1.russianfood.com/dycontent/images_upl/572/big_571470.jpg"style="margin-left:15px; width:250px;  height:200px" ></td>
    <td><img src="https://vkuhkne.ru/wp-content/uploads/2019/02/beshbarmak.jpg" style="width:250px;  height:200px; margin-left:15px;"></td>
  </tr>
</table>
</center>
  <br>
  <center>
  <table>
  <tr>
    <td><img src="https://img1.russianfood.com/dycontent/images_upl/577/big_576308.jpg" style="width:250px; height:200px"></td>
    <td><img src="https://gotovim-doma.ru/images/recipe/c/63/c63cf06a52f4ac2da730212167130e53.jpg" style="margin-left:15px; width:250px;  height:200px"></td>
    <td><img src="https://webpulse.imgsmail.ru/imgpreview?mb=webpulse&key=pulse_cabinet-image-82b46f6a-2fd7-4f69-b7b9-100260497fa4"style="margin-left:15px; width:250px;  height:200px" ></td>
    <td><img src="https://gotovim-doma.ru/images/recipe/1/e7/1e7bb07244291823b34a7e0b22a5922c.jpg" style="width:250px;  height:200px; margin-left:15px;"></td>
  </tr>
</table>
</center>
  <br><br>
  <h1>ALL RECIPES</h1>

<div class="card" >
  <div class="card-body"  >
    <ul class="list-articles">
        {% for f in foods %}

              <li><div class="article-panel">
                <p class="first">Категория: {{f.cat}}</p>
              <p class="last">Дата: {{f.time_update|date:"d-m-Y H:i:s"}}</p>
              </div>
                {% if f.photo %}
                       <p><img class="img-article-left thumb" src="{{f.photo.url}}"></p>
                {% endif %}
                <h2>{{f.name}}</h2>
                 <p class="link-read-post"><a href="{{ f.get_absolute_url }}"><button style="width:150px; height:40px" class="btn btn-success">Подробнее</button></a></p>
              </li>
        {% endfor %}
    </ul>
  </div>
</div>



</div>
</body>
</html>

{% endblock %}





<!--  <div class="card-body">-->
<!--    <h5 class="card-title">Card title</h5>-->
<!--    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>-->
<!--    <a href="#" class="btn btn-primary">Go somewhere</a>-->
<!--  </div>-->
