{% extends 'main/layout.html' %}
 
{% block content %}
<h1>{{title}}</h1>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
 <style>
    body{
        background-color:#cccccc;
    }
</style>

<div style="background-color:white; height:250px; width:400px; border-radius:10px">
    <div style="margin-left:20px"><br><br>
        <form method="post">
            {% csrf_token %}

        {% for f in form %}
        <p><label class="form-label" for="{{ f.id_for_label }}">{{f.label}}: </label>{{ f }}</p>
        <div class="form-error">{{ f.errors }}</div>
        {% endfor %}

            <button type="submit" class="btn btn-info">Регистрация</button>
        </form>
    </div>
</div>
 
{% endblock %}